openapi: 3.0.2
info:
  contact:
    email: developers@tremendous.com
    name: API Support
  description: "Deliver monetary rewards and incentives to employees, customers, survey\
    \ participants, and more through the Tremendous API. For organizational tasks,\
    \ like managing your organization and it's members within Tremendous, please see\
    \ the Tremendous Organizational API."
  termsOfService: https://www.tremendous.com/terms
  title: API Endpoints
  version: "2"
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
servers:
- description: Sandbox environment
  url: https://testflight.tremendous.com/api/v2
- description: Production environment
  url: https://www.tremendous.com/api/v2
security:
- BearerApiKey: []
tags:
- name: Invoices
- name: Rewards
- name: Orders
- name: Webhooks
- name: Organizations
- name: Members
- name: Products
- name: Campaigns
- name: Funding sources
- name: Balance transactions
- name: Fields
paths:
  /rewards:
    get:
      description: |
        Retrieve a list of all created rewards
      operationId: Rewards_listAllRewards
      parameters:
      - description: Offsets the returned list by the given number of rewards. The
          returned rewards are ordered (and offsetted) by their creation date (DESC).
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 10
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsListAllRewardsResponse'
          description: List of existing rewards. Ordered by creation date (DESC).
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/RewardsListAllRewards401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsListAllRewards429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/RewardsListAllRewards500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: List rewards
      tags:
      - Rewards
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rewards
      x-accepts: application/json
  /rewards/{id}:
    get:
      description: |
        Retrieve the reward, identified by the given `id` in the URL
      operationId: Rewards_getSingleReward
      parameters:
      - description: ID of the reward that should be retrieved
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: SOMEIDSOMEID
          pattern: "[A-Z0-9]{4,20}"
          type: string
          x-konfig-original-example: SOMEIDSOMEID
          x-konfig-generated-schema: konfig-generated-schema-paths--rewards-id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGetSingleRewardResponse'
          description: A reward (to be overwritten in specific reponses)
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/RewardsGetSingleReward401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGetSingleReward404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGetSingleReward429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/RewardsGetSingleReward500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Retrieve single reward
      tags:
      - Rewards
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--rewards-id
      x-accepts: application/json
  /rewards/{id}/generate_link:
    post:
      description: |
        Generate a redemption link for the reward identified by the `id` in the URL
      operationId: Rewards_generateLink
      parameters:
      - description: ID of the reward
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: SOMEIDSOMEID
          pattern: "[A-Z0-9]{4,20}"
          type: string
          x-konfig-original-example: SOMEIDSOMEID
          x-konfig-generated-schema: konfig-generated-schema-paths--rewards-id-generate_link-post-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateLinkResponse'
          description: A redemption link for a reward
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/RewardsGenerateLink401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateLink403Response'
          description: Operation not permitted; only rewards that are of type link
            support this operation
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateLink404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateLink429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/RewardsGenerateLink500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Generate a reward URL
      tags:
      - Rewards
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--rewards-id-generate_link
      x-accepts: application/json
  /rewards/{id}/generate_embed_token:
    post:
      description: |
        Generate a temporary reward token identified by the `id` in the URL.
        These tokens are needed to render a reward when using [Tremendous Embed](https://github.com/tremendous-rewards/embed/blob/master/docs/documentation.md).
        The token is valid for 24 hours.
      operationId: Rewards_generateEmbedToken
      parameters:
      - description: ID of the reward
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: SOMEIDSOMEID
          pattern: "[A-Z0-9]{4,20}"
          type: string
          x-konfig-original-example: SOMEIDSOMEID
          x-konfig-generated-schema: konfig-generated-schema-paths--rewards-id-generate_embed_token-post-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateEmbedTokenResponse'
          description: A redemption token for a reward
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/RewardsGenerateEmbedToken401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateEmbedToken404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsGenerateEmbedToken429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/RewardsGenerateEmbedToken500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Generate a reward token
      tags:
      - Rewards
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--rewards-id-generate_embed_token
      x-accepts: application/json
  /rewards/{id}/resend:
    post:
      description: |
        Resends a reward, identified by the given `id` in the URL, to its recipient.
      operationId: Rewards_resendRewardById
      parameters:
      - description: ID of the reward that should be resent
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: SOMEIDSOMEID
          pattern: "[A-Z0-9]{4,20}"
          type: string
          x-konfig-original-example: SOMEIDSOMEID
          x-konfig-generated-schema: konfig-generated-schema-paths--rewards-id-resend-post-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsResendRewardByIdResponse'
          description: Reward will be resent.
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/RewardsResendRewardById401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsResendRewardById404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsResendRewardById422Response'
          description: Validation error of the sent parameters or request body
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardsResendRewardById429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/RewardsResendRewardById500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Resend reward
      tags:
      - Rewards
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--rewards-id-resend
      x-accepts: application/json
  /orders:
    get:
      description: |
        Retrieve a list of orders
      operationId: Orders_getList
      parameters:
      - description: Offsets the returned list by the given number of orders. The
          returned orders are ordered (and offsetted) by their creation date (DESC).
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 10
      - description: Only return results with a matching campaign_id.
        example: IVM0I3WNJJL0
        explode: true
        in: query
        name: campaign_id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: IVM0I3WNJJL0
      - description: Only return results with a matching external_id.
        example: 12878
        explode: true
        in: query
        name: external_id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 12878
      - description: Only return results where the created_at field is greater than
          or equal to the supplied value. The string needs to be an ISO 8601 datetime.
        example: 2023-07-15T18:12:18Z
        explode: true
        in: query
        name: "created_at[gte]"
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 2023-07-15T18:12:18Z
      - description: Only return results where the created_at field is less than or
          equal to the supplied value. The string needs to be an ISO 8601 datetime.
        example: 2023-08-01T18:12:18Z
        explode: true
        in: query
        name: "created_at[lte]"
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 2023-08-01T18:12:18Z
      - description: Limits the number of orders listed. The maximum value is 100
          and the default is 10.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 10
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetListResponse'
          description: List of existing orders. Ordered by creation date (DESC).
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/OrdersGetList401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetList429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/OrdersGetList500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: List orders
      tags:
      - Orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--orders
      x-accepts: application/json
    post:
      description: |
        Every time you want to send out a reward through Tremendous you need to create an order for it.

        > 📘 Getting started with your first order
        >
        > Our step-by-step guide walks you through everything you need
        > to send your first gift card through the Tremendous API:
        >
        > <strong><a style="display: block; margin-top: 20px;" href="/docs/sending-rewards-intro">Check it out!</a></strong>

        ## Request body

        <div class="object-schema-request-schema">
          <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">external_id</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>Reference for this order, supplied by the customer.</p>

        <p>When set, <code>external_id</code> makes order idempotent. All requests that use the same <code>external_id</code>
        after the initial order creation, will result in a response that returns the data of the
        initially created order. The response will have a <code>201</code> response code. These responses
        <strong>fail</strong> to create any further orders.</p>

        <p>It also allows for retrieving by <code>external_id</code> instead of <code>id</code> only.</p>
        </td></tr>
        <tr class=""><td><div class="property-name">
          <code class="property-name">payment</code>
        </div>
        </td><td><span class="property-type">object</span></td><td></td></tr>  <tr>
            <td colspan="3">
              <details>
                <summary>Show object properties</summary>
                <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">funding_source_id</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>Tremendous ID of the funding source that will be used to pay for the order. Use <code>balance</code> to use your Tremendous&#39;s balance.</p>
        </td></tr>
          </tbody>
        </table>

        </tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">reward</code>
        </div>
        </td><td><span class="property-type">object</span></td><td><p>A single reward, sent to a recipient. A reward is always part of an order.</p>

        <p>Either <code>products</code> or <code>campaign_id</code> must be specified.</p>
        </td></tr>  <tr>
            <td colspan="3">
              <details>
                <summary>Show object properties</summary>
                <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class="property-conditional-hint-response-only"><td><div class="property-name">
          <code class="property-name">id</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>Tremendous ID of the reward</p>
        </td></tr>
        <tr class="property-conditional-hint-response-only"><td><div class="property-name">
          <code class="property-name">order_id</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>Tremendous ID of the order this reward is part of.</p>
        </td></tr>
        <tr class="property-conditional-hint-response-only"><td><div class="property-name">
          <code class="property-name">created_at</code>
        </div>
        </td><td><span class="property-type">string</span> <span class="property-format">date-time</span></td><td><p>Date the reward was created</p>
        </td></tr>
        <tr class="property-conditional-hint-request-only"><td><div class="property-name">
          <code class="property-name">campaign_id</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>ID of the campaign in your account, that defines the available products (different gift cards, charity, etc.)
        that the recipient can choose from.</p>
        </td></tr>
        <tr class="property-conditional-hint-request-only"><td><div class="property-name">
          <code class="property-name">products</code>
        </div>
        </td><td><span class="property-type">array</span> <span class="property-format">string</span></td><td><p>List of IDs of product (different gift cards, charity, etc.) that will be available
        to the recipient to choose from.</p>

        <p>Providing a <code>products</code> array will override the products made available by the campaign
        specified using the <code>campaign_id</code> property unless the <code>products</code> array is empty. It will
        <em>not</em> override other campaign attributes, like the message and customization of the look and feel.</p>
        </td></tr>
        <tr class=""><td><div class="property-name">
          <code class="property-name">value</code>
        </div>
        </td><td><span class="property-type">object</span></td><td></td></tr>  <tr>
            <td colspan="3">
              <details>
                <summary>Show object properties</summary>
                <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">denomination</code>
        </div>
        </td><td><span class="property-type">number</span> <span class="property-format">double</span></td><td><p>Amount of the reward</p>
        </td></tr>
        <tr class=""><td><div class="property-name">
          <code class="property-name">currency_code</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>Currency of the reward</p>
        </td></tr>
          </tbody>
        </table>

        </tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">recipient</code>
        </div>
        </td><td><span class="property-type">object</span></td><td><p>Details of the recipient of the reward</p>
        </td></tr>  <tr>
            <td colspan="3">
              <details>
                <summary>Show object properties</summary>
                <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">name</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>Name of the recipient</p>
        </td></tr>
        <tr class=""><td><div class="property-name">
          <code class="property-name">email</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>Email address of the recipient</p>
        </td></tr>
        <tr class=""><td><div class="property-name">
          <code class="property-name">phone</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>Phone number of the recipient. For non-US phone numbers, specify the country code (prefixed with +).</p>
        </td></tr>
          </tbody>
        </table>

        </tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">deliver_at</code>
        </div>
        </td><td><span class="property-type">string</span> <span class="property-format">date</span></td><td><p>Timestamp of reward delivery within the next year. Note that if date-time is provided, the time values will be ignored.</p>
        </td></tr>
        <tr class=""><td><div class="property-name">
          <code class="property-name">custom_fields</code>
        </div>
        </td><td><span class="property-type">array</span></td><td></td></tr>  <tr>
            <td colspan="3">
              <details>
                <summary>Show array item type</summary>
                <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">id</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>Tremendous ID of the custom field</p>
        </td></tr>
        <tr class=""><td><div class="property-name">
          <code class="property-name">value</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>Value of the custom field</p>
        </td></tr>
          </tbody>
        </table>

        </tr>

        <tr class=""><td><div class="property-name">
          <code class="property-name">language</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>Set this to translate the redemption experience for this reward. Pass a 2-letter <a href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes">ISO-639-1 code</a> for the desired language. Defaults to <code>en</code>.</p>
        </td></tr>
        <tr class=""><td><div class="property-name">
          <code class="property-name">delivery</code>
        </div>
        </td><td><span class="property-type">object</span></td><td><p>Details on how the reward is delivered to the recipient.</p>
        </td></tr>  <tr>
            <td colspan="3">
              <details>
                <summary>Show object properties</summary>
                <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">method</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>How to deliver the reward to the recipient.</p>

        <table>
          <thead>
            <tr>
              <th>Delivery Method</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>EMAIL</code></td>
              <td>Deliver the reward to the recipient by email</td>
            </tr>
            <tr>
              <td><code>LINK</code></td>
              <td>
                <p>Deliver the reward to the recipient via a link.</p>
                <p>The link can be retrieved on a successfully ordered reward via the <code>/rewards</code> or <code>/rewards/{id}</code> endpoint. That link must then be  delivered to the recipient out-of-band.</p>
              </td>
            </tr>
            <tr>
              <td><code>PHONE</code></td>
              <td>Deliver the reward to the recipient by SMS</td>
            </tr>
          </tbody>
        </table>
        </td></tr>
          </tbody>
        </table>

        </tr>

          </tbody>
        </table>

        </tr>

          </tbody>
        </table>

        </div>


        ### Funding sources

        There are different ways to pay for gift cards and rewards on Tremendous. Every payment mechanism is called a "funding source".

        You can retrieve a list of all available funding sources by using the [Funding sources API endpoint](https://tremendous.readme.io/reference/core-funding-source-index).

        The Tremendous API sandbox environment comes with a single funding source that allows you to spend up to $5,000 in *fake money* to test the API. [Learn more about the sandbox environment](https://tremendous.readme.io/reference/sandbox).

        The HTTP status code `200` on the response will be used to indicate success.

        After processing successfully the reward gets queued to be delivered to it's recipient
        (for delivery method `EMAIL` and `PHONE`). Delivery will happen asynchronously, after the response
        has been sent.

        ### Idempotence

        Requests issued with the same external_id are idempotent.

        Submitting an order with an already existing `external_id`, will result in a `201` response code.
        In this case the response will return a representation of the already existing order in the response body.
      operationId: Orders_createOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersCreateOrderRequest'
        description: Order to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrderResponse'
          description: An order (to be overwritten in specific reponses)
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder201Response'
          description: An order (to be overwritten in specific reponses)
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder202Response'
          description: An order (to be overwritten in specific reponses)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder400Response'
          description: Validation error of the sent parameters or request body
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "402":
          content:
            application/json:
              example:
                errors:
                  message: Not enough funds to carry out this operation. Fund your
                    balance to proceed.
                  payload: {}
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder402Response'
              x-konfig-original-example:
                errors:
                  message: Not enough funds to carry out this operation. Fund your
                    balance to proceed.
                  payload: {}
          description: Not enough funds to carry out the request. Please top-up your
            account
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder422Response'
          description: Validation error of the sent parameters or request body
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/OrdersCreateOrder500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Create order
      tags:
      - Orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--orders
      x-content-type: application/json
      x-accepts: application/json
  /orders/{id}:
    get:
      description: |
        Retrieve the order, identified by the given `id` in the URL
      operationId: Orders_getOrderById
      parameters:
      - description: |
          ID of the order that should be retrieved. In case the order has an `external_id` reference supplied by the
          customer on creation, it's possible to use it instead.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetOrderByIdResponse'
          description: An order (to be overwritten in specific reponses)
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/OrdersGetOrderById401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetOrderById404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersGetOrderById429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/OrdersGetOrderById500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Retrieve order
      tags:
      - Orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--orders-id
      x-accepts: application/json
  /order_approvals/{id}/approve:
    post:
      description: |
        Approves an order that is pending review, identified by the given `id` in the URL.

        Approvals is a feature that requires orders to be approved by an organization admin
        before they are sent out. To enable approvals for your organization, please enable
        'Allow approvals via API' via the organization''s 'Order Approvals' settings from the Tremendous dashboard.
      operationId: Orders_approveOrderById
      parameters:
      - description: "ID of the order that should be approved. In case the order has\
          \ an `external_id` reference supplied by the customer on creation, it's\
          \ possible to use it instead."
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: SOMEIDSOMEID
          pattern: "[A-Z0-9]{4,20}"
          type: string
          x-konfig-original-example: SOMEIDSOMEID
          x-konfig-generated-schema: konfig-generated-schema-paths--order_approvals-id-approve-post-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderByIdResponse'
          description: An order (to be overwritten in specific reponses)
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "402":
          content:
            application/json:
              example:
                errors:
                  message: Not enough funds to carry out this operation. Fund your
                    balance to proceed.
                  payload: {}
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById402Response'
              x-konfig-original-example:
                errors:
                  message: Not enough funds to carry out this operation. Fund your
                    balance to proceed.
                  payload: {}
          description: Not enough funds in your account. Please send another approval
            request after you have deposited sufficient funds into your balance.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById403Response'
          description: API approvals are not enabled. Enable 'Allow approvals via
            API' in the organization's settings on the Tremendous dashboard.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById422Response'
          description: Validation error of the sent parameters or request body
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/OrdersApproveOrderById500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Approve order
      tags:
      - Orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--order_approvals-id-approve
      x-accepts: application/json
  /order_approvals/{id}/reject:
    post:
      description: |
        Rejects an order that is pending review, identified by the given `id` in the URL.

        Approvals is a feature that requires orders to be approved by an organization admin
        before they are sent out. To enable approvals for your organization, please enable
        'Allow approvals via API' via the organization''s 'Order Approvals' settings from the Tremendous dashboard.
      operationId: Orders_rejectById
      parameters:
      - description: "ID of the order that should be rejected. In case the order has\
          \ an `external_id` reference supplied by the customer on creation, it's\
          \ possible to use it instead."
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: SOMEIDSOMEID
          pattern: "[A-Z0-9]{4,20}"
          type: string
          x-konfig-original-example: SOMEIDSOMEID
          x-konfig-generated-schema: konfig-generated-schema-paths--order_approvals-id-reject-post-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersRejectByIdResponse'
          description: An order (to be overwritten in specific reponses)
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/OrdersRejectById401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersRejectById403Response'
          description: API approvals are not enabled for this organization. Enable
            "Allow approvals via API" via the organization's order approval settings
            from the Tremendous dashboard.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersRejectById404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersRejectById422Response'
          description: Validation error of the sent parameters or request body
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersRejectById429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/OrdersRejectById500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Reject order
      tags:
      - Orders
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--order_approvals-id-reject
      x-accepts: application/json
  /products:
    get:
      description: |
        Retrieve a list of available products
      operationId: Products_getList
      parameters:
      - description: "Comma-separated list of [Alpha-2 country codes](https://www.iban.com/country-codes),\
          \ used to only retrieve products available in the provided countries"
        example: "US,UK"
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: "US,UK"
      - description: "Comma-separated list of [currency codes](https://www.iban.com/currency-codes),\
          \ used to only retrieve products available in the provided currencies"
        example: "USD,EUR"
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: "USD,EUR"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetListResponse'
          description: List of available products.
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/ProductsGetList401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetList429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/ProductsGetList500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: List products
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products
      x-accepts: application/json
  /products/{id}:
    get:
      description: |
        Retrieve a product, identified by the given `id` in the URL
      operationId: Products_getById
      parameters:
      - description: ID of the product that should be retrieved
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: SOMEIDSOMEID
          pattern: "[A-Z0-9]{4,20}"
          type: string
          x-konfig-original-example: SOMEIDSOMEID
          x-konfig-generated-schema: konfig-generated-schema-paths--products-id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetByIdResponse'
          description: Requested product
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/ProductsGetById401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetById404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsGetById429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/ProductsGetById500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Retrieve product
      tags:
      - Products
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--products-id
      x-accepts: application/json
  /campaigns:
    get:
      description: |
        Retrieve a list of all campaigns created in your account
      operationId: Campaigns_getAll
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetAllResponse'
          description: List of all campaigns in your organization's account.
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/CampaignsGetAll401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetAll429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/CampaignsGetAll500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: List campaigns
      tags:
      - Campaigns
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--campaigns
      x-accepts: application/json
  /campaigns/{id}:
    get:
      description: |
        Retrieve a campaign, identified by the given `id` in the URL
      operationId: Campaigns_getById
      parameters:
      - description: ID of the campaign that should be retrieved
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: SOMEIDSOMEID
          pattern: "[A-Z0-9]{4,20}"
          type: string
          x-konfig-original-example: SOMEIDSOMEID
          x-konfig-generated-schema: konfig-generated-schema-paths--campaigns-id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetByIdResponse'
          description: Requested campaign
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/CampaignsGetById401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetById404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignsGetById429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/CampaignsGetById500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Retrieve campaign
      tags:
      - Campaigns
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--campaigns-id
      x-accepts: application/json
  /funding_sources:
    get:
      description: |
        Retrieve a list of all funding sources available for ordering through the API in your organization's account.
      operationId: FundingSources_getAll
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetAllResponse'
          description: List of all funding sources available in your organization's
            account.
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/FundingSourcesGetAll401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetAll429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/FundingSourcesGetAll500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: List funding sources
      tags:
      - Funding sources
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--funding_sources
      x-accepts: application/json
  /funding_sources/{id}:
    get:
      description: |
        Retrieve a funding source, identified by the given `id` in the URL
      operationId: FundingSources_getById
      parameters:
      - description: ID of the funding source that should be retrieved
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: SOMEIDSOMEID
          pattern: "[A-Z0-9]{4,20}"
          type: string
          x-konfig-original-example: SOMEIDSOMEID
          x-konfig-generated-schema: konfig-generated-schema-paths--funding_sources-id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetByIdResponse'
          description: Requested funding source
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/FundingSourcesGetById401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetById404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourcesGetById429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/FundingSourcesGetById500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Retrieve funding source
      tags:
      - Funding sources
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--funding_sources-id
      x-accepts: application/json
  /invoices:
    get:
      description: |
        Fetch a list of all invoices on your account.

        > 🚧 Deleted invoices are omitted
        >
        > The response does not include any previously deleted invoices.
      operationId: Invoices_getAll
      parameters:
      - description: Offsets the returned list by the given number of invoices. The
          returned invoices are ordered (and offsetted) by their creation date (DESC).
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 10
      - description: Limits the number of invoices listed. The maximum and default
          value is 10.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 10
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetAllResponse'
          description: List of all invoices in state `PAID` or `OPEN`
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/InvoicesGetAll401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetAll429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/InvoicesGetAll500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: List invoices
      tags:
      - Invoices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--invoices
      x-accepts: application/json
    post:
      description: |+
        Creating an invoice is the way for your organization to fund your account's balance.

        1. Create an invoice
        2. Pay the invoice
        3. Funds get added to your account's balance

        ## Request body

        <div class="object-schema-request-schema">
          <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody class="object-schema-table-body">
            <tr class=""><td><div class="property-name">
          <code class="property-name">po_number</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>Reference to the purchase order number within your organization</p>
        </td></tr>
        <tr class=""><td><div class="property-name">
          <code class="property-name">amount</code>
        </div>
        </td><td><span class="property-type">number</span> <span class="property-format">double</span></td><td><p>Amount of the invoice in USD</p>
        </td></tr>
        <tr class=""><td><div class="property-name">
          <code class="property-name">memo</code>
        </div>
        </td><td><span class="property-type">string</span></td><td><p>A note to be included in the invoice. This is for your internal use and will not be visible to the recipient.</p>
        </td></tr>
          </tbody>
        </table>

        </div>

      operationId: Invoices_createAndFundAccountBalance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicesCreateAndFundAccountBalanceRequest'
        description: Invoice details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesCreateAndFundAccountBalanceResponse'
          description: An invoice (to be overwritten in specific reponses)
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesCreateAndFundAccountBalance400Response'
          description: The invoice couldn't be created
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/InvoicesCreateAndFundAccountBalance401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesCreateAndFundAccountBalance429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/InvoicesCreateAndFundAccountBalance500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Create invoice
      tags:
      - Invoices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--invoices
      x-content-type: application/json
      x-accepts: application/json
  /invoices/{id}:
    delete:
      description: |
        Removes an invoice. This has no further consequences but is a rather cosmetic operation.
      operationId: Invoices_removeInvoice
      parameters:
      - description: ID of the invoice that should be retrieved
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The invoice number
          example: PPS-26873
          type: string
          x-konfig-original-example: PPS-26873
          x-konfig-generated-schema: konfig-generated-schema-paths--invoices-id-delete-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRemoveInvoiceResponse'
          description: An invoice (to be overwritten in specific reponses)
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/InvoicesRemoveInvoice401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRemoveInvoice404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesRemoveInvoice429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/InvoicesRemoveInvoice500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Delete invoice
      tags:
      - Invoices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--invoices-id
      x-accepts: application/json
    get:
      description: |
        Retrieve an invoice, identified by the given `id` in the URL

        > 📘 Deleted Invoices
        >
        > This endpoint can be used to retrieve details on deleted invoices
        > that the list of invoices omits.
      operationId: Invoices_getById
      parameters:
      - description: ID of the invoice that should be retrieved
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The invoice number
          example: PPS-26873
          type: string
          x-konfig-original-example: PPS-26873
          x-konfig-generated-schema: konfig-generated-schema-paths--invoices-id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetByIdResponse'
          description: An invoice (to be overwritten in specific reponses)
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/InvoicesGetById401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetById404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetById429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/InvoicesGetById500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Retrieve invoice
      tags:
      - Invoices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--invoices-id
      x-accepts: application/json
  /invoices/{id}/pdf:
    get:
      description: |
        Generates a PDF version for an invoice
      operationId: Invoices_getPdf
      parameters:
      - description: ID of the Invoice for that the PDF should be generated
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The invoice number
          example: PPS-26873
          type: string
          x-konfig-original-example: PPS-26873
          x-konfig-generated-schema: konfig-generated-schema-paths--invoices-id-pdf-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/InvoicesGetPdfResponse'
          description: PDF for the specified Invoice
          headers:
            Content-Disposition:
              explode: false
              schema:
                example: attachment; filename="Tremendous_Invoice_ABC-12345.pdf"
                type: string
                x-konfig-original-example: attachment; filename="Tremendous_Invoice_ABC-12345.pdf"
                x-konfig-generated-schema: konfig-generated-schema-paths--invoices-id-pdf-get-responses-200-headers-Content-Disposition-schema
              style: simple
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/InvoicesGetPdf401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetPdf404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetPdf429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/InvoicesGetPdf500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Retrieve invoice as PDF
      tags:
      - Invoices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--invoices-id-pdf
      x-accepts: application/json
  /invoices/{id}/csv:
    get:
      description: |
        Generates a CSV version for an invoice listing the associated rewards and orders
      operationId: Invoices_getCsv
      parameters:
      - description: ID of the Invoice for that the CSV should be generated
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The invoice number
          example: PPS-26873
          type: string
          x-konfig-original-example: PPS-26873
          x-konfig-generated-schema: konfig-generated-schema-paths--invoices-id-csv-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/InvoicesGetCsvResponse'
          description: CSV for the specified Invoice
          headers:
            Content-Disposition:
              explode: false
              schema:
                example: attachment; filename="Invoice_ABC-12345_gift_details.csv"
                type: string
                x-konfig-original-example: attachment; filename="Invoice_ABC-12345_gift_details.csv"
                x-konfig-generated-schema: konfig-generated-schema-paths--invoices-id-csv-get-responses-200-headers-Content-Disposition-schema
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetCsv400Response'
          description: The invoice can't be exported to CSV because it isn't associated
            with any rewards
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/InvoicesGetCsv401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetCsv404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesGetCsv429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/InvoicesGetCsv500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Retrieve invoice as CSV
      tags:
      - Invoices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--invoices-id-csv
      x-accepts: application/json
  /balance_transactions:
    get:
      description: |
        Fetch a list of all balance transactions on your account.
      operationId: BalanceTransactions_listAll
      parameters:
      - description: Offsets the returned list by the given number of transactions.
          The returned transactions are ordered (and offsetted) by their creation
          date (DESC).
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 10
      - description: Limits the number of transactions listed. The default value is
          10.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 10
      - description: Only return results where the created_at field is greater than
          or equal to the supplied value. The string needs to be an ISO 8601 datetime.
        example: 2023-07-15T18:00:00Z
        explode: true
        in: query
        name: "created_at[gte]"
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 2023-07-15T18:00:00Z
      - description: Only return results where the created_at field is less than or
          equal to the supplied value. The string needs to be an ISO 8601 datetime.
        example: 2023-08-01T18:00:00Z
        explode: true
        in: query
        name: "created_at[lte]"
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 2023-08-01T18:00:00Z
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransactionsListAllResponse'
          description: List of all transactions on this account
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/BalanceTransactionsListAll401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransactionsListAll422Response'
          description: Validation error of the sent parameters or request body
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceTransactionsListAll429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/BalanceTransactionsListAll500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: List balance transactions
      tags:
      - Balance transactions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--balance_transactions
      x-accepts: application/json
  /organizations:
    get:
      description: |
        The returned list only includes the organization to which the API key belongs to, that is used for the request.
      operationId: Organizations_getList
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetListResponse'
          description: List of all organizations
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/OrganizationsGetList401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetList429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/OrganizationsGetList500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: List organizations
      tags:
      - Organizations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--organizations
      x-accepts: application/json
    post:
      description: |
        Organizations are a way to separate different parts of your business within the same Tremendous account.

        You can assign users in your Tremendous team as members to any organization. Users can be members of multiple organizations at once.

        API keys belong to a single organization. The API key used in a request determines on behalf of which organization the request is carried out.

        **Important note:** When creating an organization, you are required to either pass `with_api_key` or `copy_settings[user]` in the request body as `true`. This ensures that your new Organization can either be accessed via the API or the Dashboard.
      operationId: Organizations_createNewOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationsCreateNewOrganizationRequest'
        description: Organization details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsCreateNewOrganizationResponse'
          description: The created organization
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsCreateNewOrganization400Response'
          description: Validation error of the sent parameters or request body
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/OrganizationsCreateNewOrganization401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsCreateNewOrganization429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/OrganizationsCreateNewOrganization500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Create organization
      tags:
      - Organizations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--organizations
      x-content-type: application/json
      x-accepts: application/json
  /organizations/{id}:
    get:
      operationId: Organizations_getOrganization
      parameters:
      - description: ID of the organization to retrieve
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: SOMEIDSOMEID
          pattern: "[A-Z0-9]{4,20}"
          type: string
          x-konfig-original-example: SOMEIDSOMEID
          x-konfig-generated-schema: konfig-generated-schema-paths--organizations-id-get-parameters-0-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetOrganizationResponse'
          description: An organization (to be overwritten in specific responses)
        "401":
          content:
            application/json:
              example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
              schema:
                $ref: '#/components/schemas/OrganizationsGetOrganization401Response'
              x-konfig-original-example:
                errors:
                  message: Production Access not available for your account
                  payload: {}
          description: Authorization error e.g. due to an invalid or missing API key.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetOrganization404Response'
          description: No resource could be found for the provided ID
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsGetOrganization429Response'
          description: "Rate limit exceeded, this request was not processed. Future\
            \ requests may not be processed, until your account drops below the rate\
            \ limit threshold, again."
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                  message: Something went wrong. We have been notified
              schema:
                $ref: '#/components/schemas/OrganizationsGetOrganization500Response'
              x-konfig-original-example:
                errors:
                  message: Something went wrong. We have been notified
          description: The server encountered an unexpected error or couldn't fulfill
            the request in time.
          x-do-not-generate: true
      summary: Retrieve organization
      tags:
      - Organizations
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--organizations-id
      x-accepts: application/json
  /organizations/create_api_key:
    post:
      description: |
        Creates a new API key. The API key used to make the request will remain active.

        Created API keys are generated randomly and returned in the response. **You cannot retrieve them again.**
      operationId: Organizations_createApiKey
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsCreateApiKeyResponse'
          description: The created API key
        "401":
          content:
            application/json:
              example:
                errors:
[...]
